<template>
  <div>
    <h1 class="red">Look at devtools!</h1>
    <p class="tools">Network -> example -> Headers -> Response Headers</p>
  </div> 
</template>

<script>
  export default {
    name: 'example',
    //To add headers to this page, implement a httpHeaders function. It returns a list of headers
    httpHeaders: () => ({
      'Cache-Control': 'max-age=60, s-maxage=90, public',
      'X-Content-Type-Options': 'nosniff',
      'X-My-Header': 'Anything you could need',
    }),
  }
</script>

<style>
  .red {
    width: 50%;
    margin: 40px auto;
    color: #3b8070;
    text-align: center;
    border: solid 1px rgb(189, 189, 189);
    border-radius:3px;
    padding:1em;
  }
  .tools {
    text-align: center;
  }

</style>
